<% if (title) { %>
    <h1><%= title %></h1> 
    <% } else {
        res.redirect('/')
    } %>


<% if (errors) { %>
    <div class="errors">
      <% errors.array().forEach((error) => { %>
        <p><%= error.msg %></p>
      <% }) %>
    </div>
  <% } %>


  

<p ><%- messages() %></p>
<!-- <div class="main-container">
   
    <div class="login-container">
        <form id="loginForm" action="/account/login" method="post">

            <div>
                <h1>YOU ARE LOGGED IN</h1>
            </div>
       </form>
   
   </div>
</div> -->
<div>
    <h1>You are logged in</h1>
</div>