<!-- in the views > inventory > detail.ejs file -->

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- ... more header stuff ... -->
</head>
<body>
  <!-- ... nav bar ... -->
  <%= vehicleHTML %>
  <!-- ... maybe a footer ... -->
</body>
</html>
